{
	"presets": ["next/babel"],
	"plugins": [
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["styled-components", { "ssr": true }],
		["import", { "libraryName": "antd", "style": "css" }],
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@components": "./src/components",
					"@constants": "./src/constants",
					"@containers": "./src/containers",
					"@helpers": "./src/helpers",
					"@screens": "./src/screens",
					"@stores": "./src/stores"
				}
			}
		]
	]
}
