@primary-color: #264c59;
@info-color: @blue-6;
@success-color: #42978c;
@processing-color: @primary-color;
@error-color: #d46b4c;
@highlight-color: #d46b4c;
@warning-color: #f8ae68;
@normal-color: #d9d9d9;
@white: #fff;
@black: #000;
